//Created by cristian on 26/03/15.
span#todo-count
  strong= remaining + ' '
  | #{remaining === 1 ? 'item' : 'items'} left
ul#filters
  li
    a.selected(href="#/") All
  li
    a(href="#/active") Active
  li
    a(href="#/completed") Completed
if(completed)
  button#clear-completed Clear Completed #{completed}


